<ion-card *ngFor="let item of todos;let i = index" class="ion-margin">

  <ion-card-header>
    <ion-card-subtitle [style.color]="isColorPriority(item.itemPriority)">
      {{item.itemCategory}}
    </ion-card-subtitle>
    <ion-item>
      <ion-icon *ngIf="item.itemPriority === 'high'" color="danger" size="small" name="ellipse"></ion-icon>
      <ion-icon *ngIf="item.itemPriority === 'middle'" color="warning" size="small" name="ellipse"></ion-icon>
      <ion-icon *ngIf="item.itemPriority === 'low'" color="success" size="small" name="ellipse"></ion-icon>
      <p>{{item.itemName}}</p>
    </ion-item>
  </ion-card-header>

  <ion-card-content>
    <ion-label> Due {{item.itemDueDate | date:'fullDate'}}</ion-label>
  </ion-card-content>

  <ion-row class="item-row">

    <ion-item class="item">
      <ion-icon name="share-outline"></ion-icon>
      <p>Share</p>
    </ion-item>

    <ion-item class="item">
      <ion-icon name="checkmark-outline"></ion-icon>
      <p>Complete</p>
    </ion-item>

    <ion-item class="item" (click)="onDelete(i)">
      <ion-icon name="trash-outline"></ion-icon>
      <p>Delete</p>
    </ion-item>
  </ion-row>

</ion-card>

<ion-card>
  <ion-card-header *ngIf="todos.length === 0">
    <p>No tasks registered.</p>
  </ion-card-header>
</ion-card>
