<app-header [title]="title">
	<p style="font-weight: 400">{{today | date:'fullDate'}}</p>
</app-header>

<ion-content [fullscreen]="true">

	<app-todo-card [todos]="todos"></app-todo-card>

	<ion-fab vertical="bottom" horizontal="end" slot="fixed">
		<ion-fab-button (click)="setOpenModal()">
			<ion-icon name="add" id="open-modal" expand="block" ></ion-icon>
		</ion-fab-button>
	</ion-fab>
	<ion-modal [isOpen]="isModalOpen">
		<ng-template>
			<ion-header>
				<ion-toolbar>
					<ion-buttons slot="start">
						<ion-button (click)="setCloseModal()" color="danger">Cancel</ion-button>
					</ion-buttons>
					<ion-title>TODO</ion-title>
				</ion-toolbar>
			</ion-header>
			<ion-content class="ion-padding">
				<app-todo-form (dataForm)="clearForm($event)" (todoAdded)="postTodo($event)" (isModalOpen)="isModalOpen = $event"></app-todo-form>
			</ion-content>
		</ng-template>
	</ion-modal>
</ion-content>